.or-con{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    min-height: 50vh;
    padding: 3rem 0rem;
}
.or-con .or-cov{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    padding: 3rem 0rem;
}
.or-con .or-cov .or-search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-bottom: 2rem;
    border: 3px double #e8e9eb;
    padding: 10px;
}
.or-con .or-cov .or-search .or-sec{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    
}
.or-con .or-cov .or-search .or-sec .or-search-inp{
    width: 80%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #e8e9eb;


}
.or-con .or-cov .or-search .or-sec .or-search-btn{
    width: 20%;
    padding: 1rem;
    font-size: 1rem;
    background-color: green;
    color: #fff;

}
.or-con .or-cov .or-search .or-sec2{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    width: 100%; 
    row-gap: 10px;
    column-gap: 5px;
    margin-top: 1rem;
}
.or-con .or-cov .or-search .or-sec2 .or-label{
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.or-con .or-cov .or-search .or-sec2 .or-label input[type="radio"]{
    font: inherit;
    margin: 0;
    margin-right:5px;
    color: lightseagreen;
    width: 20px;
    height: 20px;
    border: 0.15em solid lightseagreen;
    border-radius: 50%;
}
.or-con .or-cov .or-success{
    width: 80%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}
.or-con .or-cov .or-error{
    width: 80%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;

}
.or-con .or-cov .or-orders{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 2rem;


}
.or-con .or-cov .or-orders .or-order-list:nth-child(even){
    background-color:aliceblue;
    color:#222;

}
.or-con .or-cov .or-orders .or-order-list:nth-child(odd){
    background-color:#c7cbfa;
    color:#222;



}
.or-con .or-cov .or-orders .or-order-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

}
.or-con .or-cov .or-orders .or-order-list .print-btn{
    padding: 10px;
    background-color: lightseagreen;
    color: #fff;
    font-size: 1rem;
    border:none;
    margin-bottom: 1rem;
}
.or-con .or-cov .or-orders .or-order-list .print-btn:hover{
    cursor: pointer;
}
.or-con .or-cov .or-orders .or-order-list .or-order{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 10px;

}
.or-con .or-cov .or-orders .or-order-list .or-order .or-seller{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
}
.or-con .or-cov .or-orders .or-order-list .or-order .or-extra{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
}
.or-con .or-cov .or-orders .or-order-list .or-order .or-extra .or-payment{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;

}
.or-con .or-cov .or-orders .or-order-list .or-order .or-extra .or-ordered{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.or-he2{
    font-size: 2rem;
    font-weight: 500;
    background-color: rgb(226, 240, 29);
    padding: 10px;
    margin-bottom: 10px;

}
.or-he3{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 10px;

}
.or-con .or-cov .or-orders .or-order-list .or-product{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}
.or-con .or-cov .or-orders .or-order-list .or-product .or-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #e8e9eb;
    border-top: 1px solid #e8e9eb;
    margin-bottom: 30px;
    background-color: rgb(226, 240, 29);
    padding: 1rem 0rem;

}
.or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd0{
    font-size: 1.8rem;
    width: 5%;
    font-weight: 400;
    text-align: center;
    

}
.or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd1{
    font-size: 1.8rem;
    width: 35%;
    font-weight: 400;
    text-align: center;
    

}
.or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd2{
    font-size: 1.8rem;
    width: 20%;
    font-weight: 400;
    text-align: center;
}
.or-con .or-cov .or-orders .or-order-list .or-product .or-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0px;
    background-color: beige;

}
.or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-rank{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 400;
}
.or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-img{
    width: 10%;
    height: 150px;
}
.or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-pod{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;

}
.or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-pod .or-pod-it{
    display: flex;
    width: 80%;
    font-size: 1.3rem;
    font-weight: 400;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.or-con .or-cov .or-orders .or-order-list .or-product.or-item .or-pod .or-pod-it .or-pod-it-por{
    margin-bottom: 20px;
}
.or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-por{
    font-size: 1.2rem;
    width: 20%;
    font-weight: 400;
    text-align: center;
}
@media(max-width:1500px){

    .or-he2{
        font-size: 1.5rem;
        font-weight: 400;
        padding: 5px;
    }
    .or-he3{
        font-size: 1.3rem;
        font-weight: 400;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd0{
        font-size: 1.5rem;

    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd1{
        font-size: 1.5rem;
        
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd2{
        font-size: 1.5rem;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-rank{
        font-size: 1rem;

    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-pod .or-pod-it{
        font-size: 1.1rem;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-por{
        font-size: 1.1rem;
    }
}

@media(max-width:1100px){
    .or-con .or-cov{
        width: 99%;
        padding: 1rem 0rem;
    }
    .or-con .or-cov .or-search .or-sec2{
        grid-template-columns: 30% 30% 30%;
    }
    .or-con .or-cov .or-search .or-sec2 .or-label{
        font-size:1rem;
    }
    .or-con .or-cov .or-search .or-sec2 .or-label input[type="radio"]{
        width: 10px;
        height: 10px;
    }
    .or-con .or-cov .or-success{
        width: 90%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        font-size: 1.1rem;
        font-weight: 400;
    }
    .or-con .or-cov .or-error{
        width: 90%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        font-size: 1.1rem;
        font-weight: 400;
    }
    .or-con .or-cov .or-orders{
        width: 95%;
        padding: 0rem;
    }

    .or-con .or-cov .or-orders .or-order-list{
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .or-con .or-cov .or-orders .or-order-list .print-btn{
        padding: 5px;
        font-size: .8rem;
    }
    .or-con .or-cov .or-orders .or-order-list .or-order{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 2px;
    }
    .or-con .or-cov .or-orders .or-order-list .or-order .or-seller{
        width: 100%;
        align-items: center;
        
    }
    .or-con .or-cov .or-orders .or-order-list .or-order .or-extra{
        width: 100%;
        align-items: center;
    }
    .or-con .or-cov .or-orders .or-order-list .or-order .or-extra .or-payment{
        width: 100%;
        align-items: center;

    
    }
    .or-con .or-cov .or-orders .or-order-list .or-order .or-extra .or-ordered{
        width: 100%;
        align-items: center;

    }
    .or-he2{
        font-size: 1.3rem;
        font-weight: 400;
        padding: 5px;
    
    
    }
    .or-he3{
        font-size: 1.1rem;
        font-weight: 400;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-header{
        margin-bottom: 20px;
    
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd0{
        font-size: 1.5rem;

    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd1{
        font-size: 1.5rem;
        
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd2{
        font-size: 1.5rem;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item{
        padding: 5px 0px;
    
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-rank{
        font-size: 1rem;

    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-img{
        height: 100px;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-pod .or-pod-it{
        font-size: 1.1rem;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product.or-item .or-pod .or-pod-it .or-pod-it-por{
        margin-bottom: 10px;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-por{
        font-size: 1.1rem;
    }
}
@media(max-width:500px){
    .or-con{
        padding: 1rem 0rem;
    }
    .or-con .or-cov .or-search{
        width: 90%;
    }
    .or-con .or-cov .or-search .or-sec .or-search-inp{
        width: 80%;
        padding: .5rem;
        font-size: .8rem;
    }
    .or-con .or-cov .or-search .or-sec .or-search-btn{
        width: 20%;
        padding: .5rem;
        font-size: .8rem;
    
    }

    .or-con .or-cov .or-success{
        font-size: 1rem;
        font-weight: 300;
    }
    .or-con .or-cov .or-error{
        font-size: 1rem;
        font-weight: 300;
    }
    .or-con .or-cov .or-orders .or-order-list .print-btn{
        font-size: .6rem;
    }
    .or-he2{
        font-size: 1.1rem;
    }
    .or-he3{
        font-size: 1rem;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd0{
        font-size: 1.1rem;

    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd1{
        font-size: 1.1rem;
        
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd2{
        font-size: 1.1rem;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-img{
        height: 70px;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-pod .or-pod-it{
        font-size: 1rem;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-por{
        font-size: 1rem;
    }
}
@media(max-width:400px){
    .or-con .or-cov .or-search .or-sec .or-search-inp{
        font-size: .6rem;
    }
    .or-con .or-cov .or-search .or-sec .or-search-btn{
        font-size: .6rem;
    
    }
    .or-con .or-cov .or-search .or-sec2 .or-label{
        font-size:.6rem;
    }
    .or-he2{
        font-size: 1rem;
    }
    .or-he3{
        font-size: .8rem;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd0{
        font-size: 1rem;

    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd1{
        font-size: .7rem;
        
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-header .or-hd2{
        font-size: .7rem;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-img{
        height: 50px;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-pod .or-pod-it{
        font-size: .6rem;
    }
    .or-con .or-cov .or-orders .or-order-list .or-product .or-item .or-por{
        font-size: .6rem;
    }
}

@page {
    size: auto;
    margin: 10mm;
}

@media print{
    html, body {
        height: initial !important;
        overflow: initial !important;
        -webkit-print-color-adjust: exact;
    }
    .or-order-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;

    
    }
    .or-order-list .print-btn{
        display: none;
    }
    .or-order-list .or-order{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 10px;
    
    }
     .or-order-list .or-order .or-seller{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 60%;
    }
     .or-order-list .or-order .or-extra{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 40%;
    }
     .or-order-list .or-order .or-extra .or-payment{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
    
    }
    .or-order-list .or-order .or-extra .or-ordered{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }
    .or-he2{
        font-size: 1.5rem;
        font-weight: 500;
        padding: 10px;
        margin-bottom: 10px;
    
    }
    .or-he3{
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 10px;
    
    }
    .or-order-list .or-product{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }
   .or-order-list .or-product .or-header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid #e8e9eb;
        border-top: 1px solid #e8e9eb;
        margin-bottom: 30px;
        background-color: rgb(226, 240, 29);
        padding: 1rem 0rem;
    
    }
    .or-order-list .or-product .or-header .or-hd0{
        font-size: 1rem;
        width: 5%;
        font-weight: 400;
        text-align: center;
        
    
    }
    .or-order-list .or-product .or-header .or-hd1{
        font-size: 1rem;
        width: 35%;
        font-weight: 400;
        text-align: center;
        
    
    }
    .or-order-list .or-product .or-header .or-hd2{
        font-size: 1rem;
        width: 20%;
        font-weight: 400;
        text-align: center;
    }
    .or-order-list .or-product .or-item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 0px;
        background-color: beige;
    
    }
    .or-order-list .or-product .or-item .or-rank{
        width: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: 400;
    }
    .or-order-list .or-product .or-item .or-img{
        width: 10%;
        height: 100px;
    }
    .or-order-list .or-product .or-item .or-pod{
        display: flex;
        width: 25%;
        justify-content: center;
        align-items: center;
    
    }
    .or-order-list .or-product .or-item .or-pod .or-pod-it{
        display: flex;
        width: 80%;
        font-size: 1rem;
        font-weight: 400;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    .or-order-list .or-product.or-item .or-pod .or-pod-it .or-pod-it-por{
        margin-bottom: 20px;
    }
    .or-order-list .or-product .or-item .or-por{
        font-size: 1rem;
        width: 20%;
        font-weight: 400;
        text-align: center;
    }
}
